[Unit]
Description=Start hyprpaper to set wallpaper
Documentation=https://wiki.hyprland.org/Hypr-Ecosystem/hyprpaper
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/sbin/hyprpaper
Restart=on-failure

[Install]
WantedBy=graphical-session.target
