[submodule "dotbot"]
	path = submodules/dotbot
	url = https://github.com/anishathalye/dotbot
  branch = v1.21.0
[submodule "dotbot-gh-extension"]
	path = submodules/dotbot-gh-extension
	url = https://github.com/fundor333/dotbot-gh-extension.git
[submodule "submodules/noctalia-shell"]
	path = submodules/noctalia-shell
	url = https://github.com/noctalia-dev/noctalia-shell.git
