BetterDiscord/bdstorage.json
BetterDiscord/emote_data.json
BetterDiscord/logs.log
BetterDiscord/plugins/*json
BetterDiscord/plugins/res
cef_user_data
coc
dconf
discord
GIMP
git
gtk-2.0
gtk-3.0
libreoffice
maxima/maxima-history
mono.addins
mpd/database
mpd/log
mpd/pid
mpd/state
mpd/sticker.sql
ncmpcpp/error.log
nitrogen
nvim/autoload
nvim/plugged
nvim/sessions
nvim/.cs_cache
nvim/.netrwhist
Pinta
procps
protonfixes
pulse
rtorrent
syncthing
unity3d
vifm/vifminfo
VirtualBox
yay
QtProject.conf
Scripts/dpizhid
.Xauthority
