@import "mocha.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: sans-serif;
  font-size: 14px;
}

window#waybar {
  background-color: @base;
  border-bottom: 0;
  color: @text;
}

/* || Hover tooltips */
tooltip {
  background-color: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: @text;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px @subtext0;
}

/* || Workspace buttons */
#workspaces button {
  padding: 0 10px;
  background-color: transparent;
  /* box-shadow: inset 0 -3px @subtext0; */
  color: @text;
}
#workspaces button.active {
  background-color: @surface1;
}
#workspaces button.urgent {
  background-color: @red;
}
#workspaces button.empty {
  /* box-shadow: inset 0 0 @subtext0; */
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background-color: @surface1;
}
#mode {
  /* the indicator of the mode (resize, etc...) */
  background-color: @overlay0;
  color: @text;
  box-shadow: inset 0 -3px @subtext0;
}
/* && Workspace buttons */

/* || DWL tags */
#tags button {
  padding: 0 5px;
  background-color: transparent;
  color: @text;
}
#tags button.active {
  background-color: @surface1;
}
#tags button.occupied {
  box-shadow: inset 0 -3px @subtext0;
}
#tags button.focused {
  background-color: @surface1;
  box-shadow: inset 0 -3px @subtext0;
}
#tags button.urgent {
  background-color: @red;
}
/* && DWL tags */

.modules-right {
  margin: 0.25em 0.5em 0.25em 0;
  padding: 0 0.5em 0 1em;
  background-color: @surface0;
  border-radius: 1em;
}

.modules-right label {
  color: inherit;
  padding: 0.2em 0.3em;

  /* disable gtk button hover effect */
  -gtk-icon-effect: none;
  -gtk-icon-shadow: none;
  text-shadow: none;
}

.modules-right > :nth-child(1) {
  color: @maroon;
}
.modules-right > :nth-child(1) button:hover {
  box-shadow: inset 0 -3px @maroon;
}

.modules-right > :nth-child(2) {
  color: @peach;
}
.modules-right > :nth-child(2) button:hover {
  box-shadow: inset 0 -3px @peach;
}

.modules-right > :nth-child(3) {
  color: @yellow;
}
.modules-right > :nth-child(3) button:hover {
  box-shadow: inset 0 -3px @yellow;
}

.modules-right > :nth-child(4) {
  color: @green;
}
.modules-right > :nth-child(4) button:hover {
  box-shadow: inset 0 -3px @green;
}

.modules-right > :nth-child(5) {
  color: @teal;
}
.modules-right > :nth-child(5) button:hover {
  box-shadow: inset 0 -3px @teal;
}

.modules-right > :nth-child(6) {
  color: @sky;
}
.modules-right > :nth-child(6) button:hover {
  box-shadow: inset 0 -3px @sky;
}

.modules-right > :nth-child(7) {
  color: @sapphire;
}
.modules-right > :nth-child(7) button:hover {
  box-shadow: inset 0 -3px @sapphire;
}

.modules-right > :nth-child(8) {
  color: @lavender;
}
.modules-right > :nth-child(8) button:hover {
  box-shadow: inset 0 -3px @lavender;
}

.modules-right > :nth-child(9) {
  color: @blue;
}
.modules-right > :nth-child(9) button:hover {
  box-shadow: inset 0 -3px @blue;
}

@keyframes blink {
  to {
    color: @text;
  }
}
#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray {
  color: @text;
  background-color: @surface0;
  border-left: solid 3px @base;
  margin-left: 0.5em;
  padding: 0.2em 0.5em;
}
#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}
#scratchpad.empty {
  background-color: transparent;
}
