/* Reduce the "white flash" in new tabs */
browser[type="content-primary"],
browser[type="content"] {
  background: black !important;
}

/* || REMOVE TAB CLOSE BUTTON */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
.tab-close-button {
  display: none !important;
}

.tab-close-button {
  display: none !important;
}
/* || REMOVE TAB CLOSE BUTTON END */

.tab-label-container:not([textoverflow]) {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 50% !important;
  max-width: 50% !important;
  min-width: 50% !important;
}

/* center urls */
#urlbar-input {
  text-align: center !important;
}

/* hide some icons */
#tracking-protection-icon-container,
#identity-box {
  display: none;
}

#navigator-toolbox,
toolbaritem {
  border: none !important;
}

/* hide bookmark star button */
image#star-button {
  display: none;
}

toolbarbutton {
  box-shadow: none !important;
}
